
label {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
}

textarea,
input {
  display: block;
  margin-top: 8px;
  padding: 16px;
  width: 100%;
}

button {
  padding: 16px;
}

.instructions {
  font-size: 16px;
  max-width: 540px;
}

li {
  margin-bottom: 1em;
}

.test {
  margin-top: 32px;
}

video {
  max-width: 100%;
  border: 1px solid #efefef;
  margin-top: 1em;
}
